
body{
    background-color: rgb(149, 243, 243);
    text-align: center;
}
.a{
    width: 75px;
    height: 75px;
    border: 0;
}
.b{
    width: 75px;
    height: 75px;
    border: 0;
}

section{
    background-color: rgb(109, 118, 231);
    width: 55%;
    float: left;
}
.f{
    background-color: rgb(109, 118, 231);
    width: 50%;
    float: left;
}
.post{
    text-align: center;
    padding: 15px;
    float: left;
}
.post1{
    text-align: center;
    padding: 15px;
    float: left;
}
nav{
    background-color: rgb(70, 67, 247);
    text-align: right;
}

nav li{
    list-style-type: none;
    display: inline-block;
    
}
nav li a{
    display: block;
    text-decoration:none ;
    padding: 20px;
   color: rgb(54, 223, 223);
}
nav li a:hover{
    color: rgb(68, 233, 123);
    background-color: rgb(247, 46, 113);
    transition: background-color 4s linear,color 3s ease-in-out;
}
.c{
    background-color: rgb(241, 59, 90);
    width: 50%;
    float: left;
}
.d{
    background-color: rgb(245, 168, 52);
    width: 50%;
    float: left;
}
.e{
    background-color: rgb(53, 178, 250);
    width: 50%;
    float: left;
}