@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Macondo&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
body,ul{
    margin: 0px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
nav{
    background-color: #3bbcf8;
}
nav ul{
    display: flex;
    justify-content: right;
    
}
nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
nav a:hover{
    background-color: rgb(243, 40, 152);
    color: blue;
    transition: background-color 2s linear, color 2s ease-in;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsla(350, 87%, 78%,80%);
}
.title{
    text-align: center;
    font-family: 'Limelight',cursive;
font-family: 'Macondo',cursive;
}
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
#photolist li{
    list-style-type: none;
    margin: 10px;
}
#photolist img{
    border-radius: 10%;
    box-shadow: 10px 10px 15px rgb(163, 161, 161);
}
#photolist .emptyitem{
    width: 200px;
}
.gotop{
    font-size: 10px;
    color: rgb(78, 43, 235);
    position: fixed;
    right: 50px;
    bottom: 50px;
}